body {
  background-color: hsl(233, 47%, 7%);
  font-size: 15px;
  font-family: inter;
  font-weight: lighter;
  }

 
  
/* html, body {
  margin: 0px;
  padding: 0px;
  max-height: 60vh;
} */

/* body{
  width: 100%;
  margin: auto;
  height: 100px;
  background-color: hsl(233, 47%, 7%);
  font-size: 15px;
  font-family: inter;
  font-weight: lighter;
  display: flex;
  align-items: center;
  background-size: cover;
  min-height: 100vh;
  
} */
.card {
  width: 500px;
  height: 299px;
  background-color:  hsl(244, 38%, 16%);
  color: white;
  margin: 300px;
  border-radius: 1%;  
  position: absolute;
  top:-150px;
 
}

span{
  color: hsl(277, 64%, 61%)
}

h1 {
  padding: 45px;
  color: hsl(0, 0%, 100%);
  position: relative;
  bottom: 40px;
}

 p{
  margin-top: -75px;
  padding-left: 45px;
  font-size: 12.5px;
  font-weight: lighter;

  
 
}
.col {
  display:  inline-block;
  padding-left: 46px;
  margin-top: 20px;
}

.colpara {
  margin-left: -43px;
  margin-top: -10px;
  font-size: 10px;
}

img {
  width: 100%;
  height: 299px;
  position: relative;
  left: 400px;
  bottom: 288px;  
  border-top-right-radius: 1%;
  border-bottom-right-radius: 1%;
  }


/* .opacity {
  width: 31.5%;
  height: 299px;
  background-color: hsl(281, 94%, 21%);
  position: relative;
  left: 730px;
  bottom: 618px;
  opacity: 0.5;
} */

#template{
  padding-left: 44px;
}

#overlay:after {
  content: "";
  width: 84%;
  height: 100.1%;
  /* background-color:aqua; */
  position: absolute;
  top: 0px;
  left: 440px;
  background-color: hsl(281, 94%, 21%);
  opacity: 0.5;
}
